# Built application files
*.apk
*.aar
*.ap_
*.aab

# Local configuration file (sdk path, etc)
local.properties

# IDE files (IntelliJ/Android Studio)
.idea/
.gradle/
*.iml

# Local/IDE specific files
/.navigation/
/captures/
.externalNativeBuild/
.cxx/
*.cxx/
*.hprof
*.pyc

# Mac OS
.DS_Store

# Build folders
build/
*/build/
